.about {
    position: relative;
    padding: 115px 0;
    background-image: url("../images/about-bg.jpg");
    background-size: cover;
    background-position: center center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, #6696E2 0%, #E27866 100%);
        opacity: 0.42;
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        //justify-content: space-between;
    

        .tab-navigation {
            ul {
                list-style: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 100px;
                    background-color: #A37169;
                    box-shadow: 0px 3px 6px #00000029;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    &.active {
                        background-color: #E27866;

                        >span{
                            transition: .5s ease-in-out;
                            transform: rotate(0deg);
                        }
                    }


                    >span{
                        color: #FFFFFF;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 600;
                        transition: .5s ease-in-out;
                        transform:rotate(-45deg);
                        user-select: none;

                    }
                }
            }
        }

        .tab-content {
            display: none;
            animation: tab-reveal 0.5s forwards;

            &.active {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 70%;
                padding: 0 75px 0 50px ;

                >span{
                    font-weight: 400;
                    font-size: 14px;
                    color: #FFFFFF;
                }
                >h2{
                    padding-bottom: 30px;
                    color: #FFFFFF;
                }
            }
        }
        
        .image-container{
            display: grid;
            //grid-template-rows: 1fr, 2fr;
            grid-gap: 10px;
            justify-content: space-evenly;
            

            .image-item{
                position: relative;
                height: auto;
                width: auto;
            

                img{
                    display: block;    
                }

                &.item1{
                    grid-column: span 1;
                    justify-self: start;

                    &:hover .tekstas{
                        background-color: rgba(226, 120, 102, 0.8);
                        opacity: 1;
                    }
                }

                &.item2{
                    grid-column: span 1;
                    justify-self: end;
                    align-self: start;

                    &:hover .tekstas{
                        background-color: rgba(226, 120, 102, 0.8);
                        opacity: 1;
                    }
                }
                &.item3{
                    grid-column: span 2;
                    justify-self: start;
                    align-self: start;

                    &:hover .tekstas{
                        background-color: rgba(226, 120, 102, 0.8);
                        opacity: 1;
                    }
                }

                &.item1 .tekstas,
                &.item2 .tekstas,
                &.item3 .tekstas{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    z-index: 10;
                    transition: .5s ease;
                    opacity: 0;
                    background-color: rgba(226, 120, 102, 0.8);

                    span{
                        color: white;
                        font-size: 20px;
                        font-weight: 600;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        user-select: none;
                    }
                }
            }
        }
    }
}

@media all and (max-width:860px){
    .about{
        padding: 50px 0;
        .container{
            .tab-navigation{
                ul {
                    li {
                        width: 80px;
                        height: 80px;
                    }
                }
            }

            .tab-content{
                &.active{
                    padding: 0 35px 0 25px ;
                }
            }

            .image-container{
                .image-item{
                    img{
                        width: auto;
                        height: 80px;
                    }
                    &.item1 .tekstas,
                    &.item2 .tekstas,
                    &.item3 .tekstas{
                        span{
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}