.hero {
    position: relative;
    top: -5px;
    margin: 75px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 200px 0;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        opacity: 0.63;
    }

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .content{
        display: flex;
        flex-direction: column;
        
        width: 65%;

        #hero-company-logo{
            width: 225.56px;
        }
        h1{
            color: #FFFFFF;
            font-size: 36px;
            width: 426px;
            margin: 27px 0 21px 0;
        }
        .divider{
            border-bottom: 2px solid #FFFFFF;
            height: 2px;
            margin: 0;
            width: 10%;
        }
        span{
            color: #FFFFFF;
            opacity: 0.8;
            font-size: 16px;
            width: auto;
            margin: 24px 91px 43px 0;
        }
        button{
            width: 135px;
            border: 2px #FFFFFF solid;
            background-color: transparent;
            background-repeat: no-repeat;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            color: #FFFFFF;
            font-size: 14px;
            padding: 12px 22px;
            text-transform: uppercase;
        }
    }

    .form-box {
        //max-width: 360px;
        width: 100%;
        max-width: 30%;
        background-color: #fff;
        position: relative;
        border-radius: 8px;
        margin:0;
        padding: 0;
        
        .hero-form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: inherit;

            .form-header{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F5F5F5;
                padding: 17px 0 16px 0;
                font-size: 20px;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            
                #hero-form-free{
                    color: #E27866;
                    text-transform: uppercase;
                    font-family: inherit;
                    font-weight: inherit;
                    font-size: inherit;
                }
            }

            #hero-form-submit{
                display: inherit;
                justify-content: center;
                align-items: center;
                color: #FFFFFF;
                background-color: #41D395;
                text-transform: uppercase;
                font-size: 18px;
                height: 57px;
                border: none;
                cursor: pointer;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
            }

            .hero-form-middle{
                display: flex;
                flex-direction: column;
                padding: 0 50px;
                
                span{
                    font-size: 16px;    
                    padding: 30px 0 20px 0;

                }

                .hero-form-input-info{
                    

                    .form-input-hero{
                        display: inherit;
                        flex-direction: inherit;
                        color: #D8D8D8;
                        font-weight: 400;
                        font-size: 12px;
                        width: 100%;
                        text-indent: 10px;
                        margin-bottom:30px;
                        line-height: 20px;
                        box-sizing: border-box;
                        color: #1C1C1C;

                        background: none;
                        border: none;
                        padding: 0;
                        cursor: pointer;
                        border-bottom: 1px solid #D8D8D8;
                    }

                    input:focus{
                        outline: none;
                    }

                    :nth-last-child(1){
                        margin-bottom: 0;
                    }

                    ::placeholder{
                        color:#D8D8D8;
                    }
                }

                .hero-form-selection{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .radio-input-wrap {
                        padding: 0 17px 40px 0 ;
                        input {
                            display: none;
                        }
        
                        input:checked ~ label:before {
                            background: #41D395;
                        }
        
                        label {
                            text-transform: uppercase;
                            padding-right: 5px;
                            font-size: 9px;
                            cursor: pointer;
        
                            &:before {
                                content: '';
                                display: inline-block;
                                padding-left: 3px;
                                width: 9px;
                                height: 10px;
                                border-radius: 100%;
                                border: 1px solid #41D395;
                                transition: 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }   
}
